* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #E9855A;
}

.color-hover:hover {
    color: #d7560e;
}
.bag-hover:hover {
    background-color: #e67432;
}
